// PALETTE COLOR
// -------------------------------------------------- //
@black: #222;
@gray-dark: #333;
@gray-light: #dadada;
@gray-lighter: #f6f6f6;
@gray: #989898;
@green: #4bd763;
@red: #ff3b30;
@violet-dark: darken(@violet, 15%);
@violet-light: #9f8fe7;
@violet: #4020d0;
@white: #fff;
@yellow: #fdb45c;

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color: @white;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	height: 100%;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	width: 100%;
}

button.loading {
	-webkit-animation-duration: 1.8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: loading;
	-webkit-animation-timing-function: linear;
}

button.loading:after,
button.loading:before {
	font-size: 24px !important;
	padding: 0 !important;
	vertical-align: 0 !important;
}

control.segmented {
	border-collapse: collapse;
	border: none;
	display: table;
	position: fixed;
	table-layout: fixed;
	width: 100%;
	z-index: 1000;
}

control.segmented ul {
	border-bottom: 1px solid @violet-dark;
	border-top: 1px solid @violet-dark;
	display: table-row;
}

control.segmented ul li {
	background-color: @violet;
	color: @white;
	display: table-cell;
	height: 32px;
	line-height: 32px;
	text-align: center;
	width: 100%;
}

control.segmented ul li.active {
	background-color: @violet-dark;
	color: @white;
}

control.segmented ul li.middle {
	border-left: 1px solid @violet-dark;
	border-right: 1px solid @violet-dark;
}

control.segmented ul li:not(.active):active {
	background-color: @violet-light;
}

control.segmented + #content {
	padding-top: 34px;
	position: relative;
}

div#drag {
	display: none;
	position: absolute;
	top: 64px;
	width: 100%;
	z-index: 50;
}

div#isolate {
	display: none;
}

div#layout {
	height: 100%;
}

div#loading {
	background: @black;
	display: none;
	height: 109px;
	text-align: center;
}

div#loading span {
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: loading;
	-webkit-animation-timing-function: linear;
	display: block;
	margin: 0;
	padding: 30px;
}

div#loading span:after {
	color: @white;
	content: '\f29d';
	font-family: ionicons;
	font-size: 32px;
}

div#preload {
	display: none;
}

div#top + #content {
	padding-bottom: 109px;
}

footer {
	background-color: @gray-lighter;
	border-top: 1px solid @gray-light;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

footer bar.tab {
	display: table;
	height: 43px;
	width: 100%;
}

footer bar.tab a.item {
	color: @gray;
	display: table-cell;
	height: 43px;
	text-align: center;
	vertical-align: middle;
	width: 25%;
}

footer bar.tab a.item span.icon {
	font-size: 26px;
}

footer bar.tab a.item.active {
	color: @violet;
}

footer bar.tab a.item:not(.active):active {
	color: @violet-light;
}

footer div#calculator {
	background-color: @violet;
	color: @white;
	line-height: 43px;
	text-align: center;
}

header {
	background-color: @violet;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

header bar.navigation {
	display: block;
	height: 64px;
	width: 100%;
}

header bar.navigation button {
	background: none;
	border: 0;
	bottom: 0;
	color: @white;
	outline: 0;
	padding: 0 10px 9px;
	position: absolute;
	z-index: 2000;
}

header bar.navigation button.left {
	left: 5px;
}

header bar.navigation button.left.icon:before {
	content: attr(data-icon);
	font-family: ionicons;
	font-size: 18px;
	padding-right: 5px;
	vertical-align: -1px;
}

header bar.navigation button.left.loading {
	bottom: 4px !important;
	left: 13px !important;
	padding: 0 !important;
}

header bar.navigation button.left.rotate.icon:before {
	-webkit-transform: scaleX(-1) rotate(-90deg);
	display: inline-block;
	font-size: 22px;
}

header bar.navigation button.right {
	right: 5px;
}

header bar.navigation button.right.animated {
	-webkit-animation-delay: 0.5s;
	-webkit-animation-duration: 1s;
}

header bar.navigation button.right.icon:after {
	content: attr(data-icon);
	font-family: ionicons;
	font-size: 18px;
	padding-left: 5px;
	vertical-align: -1px;
}

header bar.navigation button.right.loading {
	bottom: 4px !important;
	padding: 0 !important;
	right: 13px !important;
}

header bar.navigation button:active {
	color: @violet-light;
}

header bar.navigation button.loading:active {
	color: @white !important;
}

header bar.navigation div.logo {
	-webkit-animation-direction: alternate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: logo;
	-webkit-animation-timing-function: ease-in-out;
	background: url('../img/logo.png') no-repeat center 0;
	background-size: auto 100%;
	height: 28px;
	position: relative;
	top: 28px;
}

section#content {
	-webkit-overflow-scrolling: touch;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	width: 100%;
}

section#content > * {
	-webkit-transform: translateZ(0);
}

section#content.clear {
	background: @white;
}

section#main-stats-friends {
	bottom: 44px;
	position: absolute;
	top: 64px;
	width: 100%;
	z-index: 100;
}

section#settings {
	-webkit-animation-duration: 0.8s;
	background-color: @violet;
	bottom: 44px;
	display: none;
	padding-top: 64px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 500;
}

.show {
	display: block !important;
}

::-webkit-scrollbar {
	display: none;
}

@-webkit-keyframes loading {
	from {
		-webkit-transform: rotate(0deg);
	} to {
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes logo {
	from {
		-webkit-transform: scale(1);
	} to {
		-webkit-transform: scale(1.12);
	}
}
