* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color: #ffffff;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

header {
	background-color: #4020d0;
	width: 100%;
}

header bar.navigation {
	display: block;
	height: 64px;
	width: 100%;
}

@-webkit-keyframes logo {
	from {
		-webkit-transform: scale(1);
	} to {
		-webkit-transform: scale(1.1);
	}
}

header bar.navigation div.logo {
	-webkit-animation-direction: alternate;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: logo;
	-webkit-animation-timing-function: ease-in-out;
	background: url('../img/logo.png') no-repeat center 0;
	background-size: auto 100%;
	height: 28px;
	position: relative;
	top: 28px;
}

header control.segmented {
	display: none;
	height: 42px; /* FIX */
	width: 100%;
}

footer {
	background-color: #f3f3f3;
	border-top: 1px solid #cccccc;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

footer bar.tab {
	display: table;
	height: 43px;
	width: 100%;
}

footer bar.tab a.item {
	color: #999999;
	display: table-cell;
	height: 43px;
	text-align: center;
	vertical-align: middle;
	width: 25%;
}

footer bar.tab a.item.active {
	color: #4020d0;
}

footer bar.tab a.item:active {
	color: #9f8fe7;
}

footer bar.tab a.item span.icon {
	font-size: 26px;
}
