@charset "UTF-8";
@import url("animate.min.css");
@import url("ionicons.min.css");
@import url("normalize.css");
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #ffffff;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  height: 100%;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  width: 100%;
}
control.segmented {
  border-collapse: collapse;
  border: none;
  display: table;
  table-layout: fixed;
  width: 100%;
}
control.segmented ul {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
  display: table-row;
}
control.segmented ul li {
  background-color: #4020d0;
  color: #ffffff;
  display: table-cell;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 100%;
}
control.segmented ul li.active {
  background-color: #333333;
  color: #ffffff;
}
control.segmented ul li.middle {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}
control.segmented ul li:not(.active):active {
  background-color: #9f8fe7;
}
footer {
  background-color: #f3f3f3;
  border-top: 1px solid #cccccc;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
footer bar.tab {
  display: table;
  height: 43px;
  width: 100%;
}
footer bar.tab a.item {
  color: #999999;
  display: table-cell;
  height: 43px;
  text-align: center;
  vertical-align: middle;
  width: 25%;
}
footer bar.tab a.item span.icon {
  font-size: 26px;
}
footer bar.tab a.item.active {
  color: #4020d0;
}
footer bar.tab a.item:not(.active):active {
  color: #9f8fe7;
}
header {
  background-color: #4020d0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
header bar.navigation {
  display: block;
  height: 64px;
  width: 100%;
}
header bar.navigation button {
  background: none;
  border: 0;
  bottom: 0;
  color: #ffffff;
  outline: 0;
  padding: 8px;
  position: absolute;
  z-index: 2000;
}
header bar.navigation button.left {
  left: 5px;
}
header bar.navigation button.left.icon:before {
  content: attr(data-icon);
  font-family: ionicons;
  font-size: 18px;
  padding-right: 5px;
  vertical-align: -1px;
}
header bar.navigation button.right {
  right: 5px;
}
header bar.navigation button.right.icon:after {
  content: attr(data-icon);
  font-family: ionicons;
  font-size: 18px;
  padding-left: 5px;
  vertical-align: -1px;
}
header bar.navigation button:active {
  color: #9f8fe7;
}
header bar.navigation div.logo {
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: logo;
  -webkit-animation-timing-function: ease-in-out;
  background: url('../img/logo.png') no-repeat center 0;
  background-size: auto 100%;
  height: 28px;
  position: relative;
  top: 28px;
}
section#main-stats-friends {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin-top: 64px;
  margin-bottom: 43px;
}
section#settings {
  -webkit-animation-duration: 0.8s;
  background-color: #4020d0;
  bottom: 44px;
  display: none;
  padding-top: 64px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
}
.show {
  display: block !important;
}
@-webkit-keyframes logo {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.12);
  }
}
html,
body {
  overflow-x: hidden;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.note {
  font-size: 12px;
  display: block;
  margin: 15px;
  color: #989898;
}
.body {
  display: block;
  margin: 15px;
}
.wrapper-label {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  min-height: 65px;
}
.label {
  position: relative;
  z-index: 100;
  display: block;
  width: 100%;
  min-height: 65px;
  padding: 10px 40px 10px 15px;
  color: #222222;
  border-bottom: 1px solid #dadada;
  background-color: #ffffff;
}
.label:after {
  font-family: ionicons;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -5px;
  content: '\f125';
  color: #989898;
}
.label.full {
  padding-right: 15px;
}
.label.full:after {
  display: none;
  content: '';
}
.label.no-click:after {
  display: none;
  content: '';
}
.label .row {
  position: relative;
  clear: both;
}
.label.comment {
  padding: 10px 15px;
}
.label.comment:after {
  display: none;
  content: '';
}
.label.comment .row {
  margin-left: 33px;
}
.label.comment .comment {
  float: left;
  color: #222222;
}
.label.comment .date {
  float: left;
  color: #989898;
}
.label.comment .ball {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-top: 15px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #222222;
}
.image-comment {
  margin: 15px;
}
img {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.label.comment.long .ball {
  background-color: #4bd763;
}
.label.comment.short .ball {
  background-color: #ff3b30;
}
.label.comment.withdraw .ball {
  background-color: #989898;
}
.label.comment.deposit .ball {
  background-color: #989898;
}
.label.account .row {
  margin-left: 50px;
}
.label.account .name {
  float: left;
  color: #222222;
}
.label.account .net {
  float: left;
  color: #989898;
}
.label.account .radiobutton {
  position: absolute;
  margin-top: 6px;
}
.label.instrument .row {
  margin-left: 50px;
}
.label.instrument .name {
  float: left;
  color: #222222;
}
.label.instrument .net.positive {
  float: right;
  color: #4020d0;
}
.label.instrument .net.negative {
  float: right;
  color: #222222;
}
.label.instrument .balance {
  float: left;
  color: #989898;
}
.label.instrument .variation {
  float: right;
  color: #989898;
}
.label.instrument .ball {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: 6px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #4020d0;
}
.label.instrument .ball .group {
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  height: 32px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}
.label.trade .row,
.label.operation .row {
  margin-left: 50px;
}
.label.trade .name,
.label.operation .name {
  float: left;
  color: #222222;
}
.label.trade .net.positive,
.label.operation .net.positive {
  float: right;
  color: #4020d0;
}
.label.trade .net.negative,
.label.operation .net.negative {
  float: right;
  color: #222222;
}
.label.trade .balance,
.label.operation .balance {
  float: left;
  color: #989898;
}
.label.trade .variation,
.label.operation .variation {
  float: right;
  color: #989898;
}
.label.trade .ball,
.label.operation .ball {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: 6px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #222222;
}
.label.trade .ball .globe-comments,
.label.operation .ball .globe-comments {
  font-size: 12px;
  line-height: 17px;
  position: absolute;
  top: -5px;
  right: -5px;
  height: 17px;
  padding: 0 5px;
  text-align: center;
  color: #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background-color: #222222;
}
.label.trade .ball .globe-commission,
.label.operation .ball .globe-commission {
  font-size: 12px;
  line-height: 17px;
  position: absolute;
  bottom: -5px;
  left: -5px;
  min-width: 17px;
  height: 17px;
  color: #222222;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background-color: #ffffff;
}
.label.trade .ball .globe-commission:after,
.label.operation .ball .globe-commission:after {
  font-family: ionicons;
  content: '\f100';
}
.label.trade .ball .icon,
.label.operation .ball .icon {
  font-family: ionicons;
  font-size: 16px;
  line-height: 32px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  height: 32px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}
.label.trade.open {
  border-bottom: 1px solid #333333;
  background-color: #222222;
}
.label.trade.open .name,
.label.trade.open .net.positive,
.label.trade.open .net.negative {
  color: #ffffff;
}
.label.trade.long .ball {
  background-color: #4bd763;
}
.label.trade.long .ball .icon:after {
  font-size: 16px;
  line-height: 32px;
  content: '\f10d';
}
.label.trade.short .ball {
  background-color: #ff3b30;
}
.label.trade.short .ball .icon:after {
  font-size: 16px;
  line-height: 35px;
  content: '\f104';
}
.label.operation.withdraw .ball {
  background-color: #989898;
}
.label.operation.withdraw .ball .icon:after {
  font-size: 16px;
  line-height: 32px;
  content: '\f107';
}
.label.operation.deposit .ball {
  background-color: #989898;
}
.label.operation.deposit .ball .icon:after {
  font-size: 16px;
  line-height: 32px;
  content: '\f10a';
}
.wrapper-swipe {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #9f8fe7;
}
.swipe {
  position: relative;
  display: block;
  height: 65px;
  border-top: 1px solid #3219a4;
  background-color: #4020d0;
}
.swipe:before {
  position: absolute;
  top: 0;
  left: 65px;
  width: 100%;
  height: 1px;
  background-color: #9f8fe7;
}
.swipe ul {
  position: relative;
  display: block;
  height: 100%;
}
.swipe ul li {
  display: inline-block;
  float: right;
  width: 80px;
  height: 100%;
}
.swipe .button-swipe {
  font-family: ionicons;
  font-size: 26px;
  text-align: center;
  color: #ffffff;
}
.swipe .button-swipe.delete:after {
  font-size: 25px;
  line-height: 66px;
  content: '\f4c5';
}
.swipe .button-swipe.commission:after {
  font-size: 21px;
  line-height: 66px;
  content: '\f353';
}
.swipe .button-swipe.group {
  text-align: left;
}
.swipe .button-swipe.group span {
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 22px;
  margin-left: 30px;
  content: '';
  text-align: center;
  color: #4020d0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
}
.active-swipe.one-button-swipe {
  left: -80px;
}
.active-swipe.two-button-swipe {
  left: -160px;
}
.wrapper-button-default {
  position: relative;
  display: block;
  width: 100%;
  min-height: 44px;
}
.wrapper-button-default .button-default {
  line-height: 44px;
  position: relative;
  z-index: 100;
  display: inline-block;
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #4020d0;
}
.wrapper-button-default.one-button-default .button-default {
  width: 100%;
}
.wrapper-button-default.two-button-default .button-default {
  float: left;
  width: 50%;
}
.wrapper-button-default.two-button-default .button-default:first-child {
  border-right: 1px solid #ffffff;
}
.button-primary {
  line-height: 44px;
  position: relative;
  display: block;
  clear: both;
  height: 44px;
  margin: 15px;
  text-align: center;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #4020d0;
}
.button-primary.add-photo:after {
  font-family: ionicons;
  font-size: 21px;
  line-height: 46px;
  content: '\f2d3';
  text-align: center;
}
.button-primary.delete-photo:after {
  font-family: ionicons;
  font-size: 21px;
  line-height: 46px;
  content: '\f2d3';
  text-align: center;
}
.button-primary.delete-photo:before {
  font-family: ionicons;
  font-size: 24px;
  line-height: 46px;
  position: absolute;
  z-index: 10;
  content: '\f12a';
  text-align: center;
  color: #4020d0 !important;
}
.drag-account {
  font-size: 12px;
  line-height: 30px;
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 15px;
  color: #ffffff;
  background-color: #9f8fe7;
}
.drag-account .account {
  float: left;
}
.drag-account .balance {
  float: right;
}
form {
  width: 100%;
}
input {
  line-height: 40px;
  width: 100%;
  height: 45px;
  padding: 0 15px;
  border: 1px solid #989898;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
textarea {
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  padding: 10px 15px;
  resize: none;
  border: 1px solid #989898;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form,
input,
textarea {
  color: #222222;
}
::-webkit-input-placeholder {
  color: #989898;
}
:-moz-placeholder {
  opacity: 1;
  color: #989898;
}
::-moz-placeholder {
  opacity: 1;
  color: #989898;
}
:-ms-input-placeholder {
  color: #989898;
}
.wrapper-input,
.wrapper-comment {
  position: relative;
  display: block;
  clear: both;
  margin: 15px;
}
.wrapper-input .input-icon input {
  padding-left: 65px;
}
.wrapper-input .input-icon:before {
  font-family: ionicons;
  font-size: 26px;
  line-height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 45px;
  text-align: center;
  color: #ffffff;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  background-color: #989898;
}
.wrapper-input .input-icon.price:before {
  font-size: 26px;
  line-height: 45px;
  content: '\f353';
}
.help-block {
  font-size: 12px;
  display: block;
  color: #989898;
}
.help-block.header {
  margin-bottom: 15px;
}
.radiobutton {
  position: relative;
  width: 32px;
  height: 32px;
  text-align: center;
  border: 2px solid #4020d0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.radiobutton.active:after {
  font-family: ionicons;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  height: 32px;
  margin-right: auto;
  margin-left: auto;
  content: '\f21b';
  color: #4020d0;
}
.wrapper-radiobutton {
  position: relative;
  display: table;
  clear: both;
  width: 100%;
  margin: 15px 0;
  text-align: center;
}
.group-radiobutton {
  position: relative;
  display: inline-block;
  margin-left: 15px;
}
.group-radiobutton .radiobutton {
  float: left;
}
.group-radiobutton span {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
.wrapper-select {
  position: relative;
  display: block;
  clear: both;
  margin: 15px;
}
.wrapper-select .select {
  font-size: 12px;
  line-height: 30px;
  position: relative;
  display: block;
  height: 30px;
  padding: 0 15px;
  text-decoration: none;
  color: #989898;
  border: 1px solid #4020d0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
}
.wrapper-select .select:after {
  font-family: ionicons;
  font-size: 16px;
  line-height: 30px;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 10px;
  content: '\f104';
  color: #ffffff;
  background-color: #4020d0;
}
.title-section {
  font-size: 12px;
  line-height: 30px;
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  padding: 0 15px;
  color: #222222;
  background-color: #f6f6f6;
}
.wrapper-checkbox {
  position: relative;
  display: table;
  clear: both;
  width: 100%;
  margin: 15px;
}
.checkbox {
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  text-align: center;
  border: 2px solid #4020d0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.checkbox.active:after {
  font-family: ionicons;
  font-size: 18px;
  line-height: 29px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  height: 32px;
  margin-right: auto;
  margin-left: auto;
  content: '\f122';
  color: #4020d0;
}
.wrapper-checkbox span {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
.wrapper-feedback {
  position: relative;
  display: table;
  clear: both;
  width: 100%;
  margin: 15px 0;
  text-align: center;
}
.wrapper-feedback .button-feedback {
  position: relative;
  display: inline-block;
  margin: 0 30px;
  font-family: ionicons;
  font-size: 40px;
  line-height: 1;
}
.wrapper-feedback .button-feedback.happy:after {
  content: '\f3c6';
  color: #4bd763;
}
.wrapper-feedback .button-feedback.sad:after {
  content: '\f4d7';
  color: #989898;
}
