// GLOBAL
// -------------------------------------------------- //

html,
body
{
    overflow-x: hidden;

    height: 100%;
}

ul,
ol
{
    margin: 0;
    padding: 0;

    list-style: none;
}

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:before,
*:after
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

// FONT SIZE
// -------------------------------------------------- //

@small: 12px;
@medium: 15px;

// FONT COLOR
// -------------------------------------------------- //

.black
{
    color: @black;
}

.gray-dark
{
    color: @gray-dark;
}

.gray-light
{
    color: #dadada;
}

.gray-lighter
{
    color: @gray-lighter;
}

.gray
{
    color: @gray;
}

.green
{
    color: @green;
}

.red
{
    color: @red;
}

.violet-dark
{
    color: @violet-dark;
}

.violet-light
{
    color: @violet-light;
}

.violet
{
    color: @violet;
}

.white
{
    color: @white;
}

// SMOOTHING
// --------------------------------------------------

.smoothing
{
    -webkit-font-smoothing: antialiased;
}

// TEXT NOTE
// -------------------------------------------------- //

.text-note
{
    font-size: @small;

    display: block;

    margin: 15px;

    text-align: left;

    color: @gray;
}

.text-note.header
{
    text-align: center;
}

// COPYRIGHT
// -------------------------------------------------- //

.copyright
{
    font-size: @small;

    position: absolute;
    bottom: 0;

    display: block;

    width: 100%;
    margin-bottom: 15px;

    text-align: center;

    color: @violet-light;
}

// TEXT BODY
// -------------------------------------------------- //

.text-body
{
    display: block;

    margin: 15px;
}

// LABEL
// -------------------------------------------------- //

.wrapper-label
{
    position: relative;

    display: block;
    clear: both;

    width: 100%;
    min-height: 65px;
}

.label
{
    position: relative;
    z-index: 100;

    display: block;

    width: 100%;
    min-height: 65px;
    padding: 10px 40px 10px 15px;

    color: @black;
    border-bottom: 1px solid @gray-light;
    background-color: @white;
}

.label:after
{
    font-family: ionicons;
    font-size: 14px;
    line-height: 1;

    position: absolute;
    top: 50%;
    right: 15px;

    margin-top: -5px;

    content: '\f125';

    color: @gray;
}

// LABEL > FULL
// -------------------------------------------------- //

.label.full
{
    padding-right: 15px;
}

.label.full:after
{
    display: none;

    content: '';
}

// LABEL > NO-CLICK
// -------------------------------------------------- //

.label.no-click:after
{
    display: none;

    content: '';
}

// LABEL - ROW
// -------------------------------------------------- //

.label .row
{
    position: relative;

    clear: both;
    overflow: hidden;
}

// LABEL > POSITON / COMMENT
// -------------------------------------------------- //

.label.position,
.label.comment
{
    padding: 10px 15px;
}

.label.position:after,
.label.comment:after
{
    display: none;

    content: '';
}

.label.position .row,
.label.comment .row
{
    margin-left: 33px;
}

.label.position .size-price,
.label.position .body,
.label.comment .size-price,
.label.comment .body
{
    float: left;

    color: @black;
}

.label.position .date,
.label.comment .date
{
    float: left;

    color: @gray;
}

.label.position .ball,
.label.comment .ball
{
    position: absolute;

    width: 18px;
    height: 18px;
    margin-top: 15px;

    text-align: center;

    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: @black;
}

// LABEL > COMMENT > PHOTO
// -------------------------------------------------- //

.comment.photo
{
    margin: 15px;
}

.row .comment.photo
{
    margin-top: 15px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.comment.photo img
{
    width: 100%;

    -webkit-border-radius: 4px;
            border-radius: 4px;
}

// LABEL > COMMENT > LONG
// -------------------------------------------------- //

.label.position.buy .ball
{
    background-color: @green;
}

// LABEL > COMMENT > SHORT
// -------------------------------------------------- //

.label.position.sell .ball
{
    background-color: @red;
}

// LABEL > COMMENT > WITHDRAW
// -------------------------------------------------- //

.label.comment .ball
{
    background-color: @gray;
}

// LABEL > ACCOUNT
// -------------------------------------------------- //

.label.account .row
{
    margin-left: 50px;
}

.label.account .name
{
    float: left;

    color: @black;
}

.label.account .balance
{
    float: left;

    color: @gray;
}

.label.account .radiobutton
{
    position: absolute;

    margin-top: 6px;
}

// LABEL > INSTRUMENT
// -------------------------------------------------- //

.label.instrument .row
{
    margin-left: 50px;
}

.label.instrument .name
{
    float: left;

    color: @black;
}

.label.instrument .net.positive
{
    float: right;

    color: @violet;
}

.label.instrument .net.negative
{
    float: right;

    color: @black;
}

.label.instrument .type
{
    float: left;

    color: @gray;
}

.label.instrument .commission
{
    float: right;

    color: @gray;
}

.label.instrument .ball
{
    position: absolute;

    width: 32px;
    height: 32px;
    margin-top: 6px;

    text-align: center;

    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: @violet;
}

.label.instrument .ball .group
{
    font-size: 15px;
    line-height: 30px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    height: 32px;
    margin-right: auto;
    margin-left: auto;

    color: @white;
}

// LABEL > TRADE / OPERATION
// -------------------------------------------------- //

.label.trade .row,
.label.operation .row
{
    margin-left: 50px;
}

.label.trade .instrument,
.label.operation .instrument
{
    float: left;

    color: @black;
}

.label.trade .net.positive,
.label.operation .net.positive
{
    float: right;

    color: @violet;
}

.label.trade .net.negative,
.label.operation .net.negative
{
    float: right;

    color: @black;
}

.label.trade .net.zero,
.label.operation .net.zero
{
    float: right;

    color: @violet-light;
}

.label.trade .size-price,
.label.operation .size-price,
.label.trade .date,
.label.operation .date
{
    float: left;

    color: @gray;
}

.label.trade .variation,
.label.operation .variation
{
    float: right;

    color: @gray;
}

.label.trade .ball,
.label.operation .ball
{
    position: absolute;

    width: 32px;
    height: 32px;
    margin-top: 6px;

    text-align: center;

    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: @black;
}

.label.trade .ball .globe-comments,
.label.operation .ball .globe-comments
{
    font-size: 12px;
    line-height: 17px;

    position: absolute;
    top: -5px;
    right: -5px;

    height: 17px;
    padding: 0 5px;

    text-align: center;

    color: @white;
    -webkit-border-radius: 100px;
            border-radius: 100px;
    background-color: @black;
}

.label.trade .ball .globe-commission,
.label.operation .ball .globe-commission
{
    font-size: 12px;
    line-height: 17px;

    position: absolute;
    bottom: -5px;
    left: -5px;

    min-width: 17px;
    height: 17px;

    color: @black;
    -webkit-border-radius: 100px;
            border-radius: 100px;
    background-color: @white;
}

.label.trade .ball .globe-commission:after,
.label.operation .ball .globe-commission:after
{
    font-family: ionicons;

    content: '\f100';
}

.label.trade .ball .icon,
.label.operation .ball .icon
{
    font-family: ionicons;
    font-size: 16px;
    line-height: 32px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    height: 32px;
    margin-right: auto;
    margin-left: auto;

    color: @white;
}

// LABEL > TRADE > OPEN
// -------------------------------------------------- //

.label.trade.open
{
    border-bottom: 1px solid @gray-dark;
    background-color: @black;
}

.label.trade.open .instrument,
.label.trade.open .net.positive,
.label.trade.open .net.negative,
.label.trade.open .net.zero
{
    color: @white;
}

// LABEL > TRADE > LONG
// -------------------------------------------------- //

.label.trade.long .ball
{
    background-color: @green;
}

.label.trade.long .ball .icon:after
{
    font-size: 16px;
    line-height: 32px;

    content: '\f10d';
}

// LABEL > TRADE > SHORT
// -------------------------------------------------- //

.label.trade.short .ball
{
    background-color: @red;
}

.label.trade.short .ball .icon:after
{
    font-size: 16px;
    line-height: 35px;

    content: '\f104';
}

// LABEL > OPERATION > WITHDRAW
// -------------------------------------------------- //

.label.operation.withdraw .ball
{
    background-color: @gray;
}

.label.operation.withdraw .ball .icon:after
{
    font-size: 16px;
    line-height: 32px;

    content: '\f107';
}

// LABEL > OPERATION > DEPOSIT
// -------------------------------------------------- //

.label.operation.deposit .ball
{
    background-color: @gray;
}

.label.operation.deposit .ball .icon:after
{
    font-size: 16px;
    line-height: 32px;

    content: '\f10a';
}

// WRAPPER LABEL - SWIPE
// -------------------------------------------------- //

.wrapper-swipe
{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-color: @violet-light;
}

.swipe-buttons
{
    position: relative;

    display: block;

    height: 65px;

    background-color: @violet-dark;
}

.swipe-buttons:before
{
    position: absolute;
    top: 0;
    left: 65px;

    width: 100%;
    height: 1px;

    background-color: @violet-light;
}

.swipe-buttons ul
{
    position: relative;

    display: block;

    height: 100%;
}

.swipe-buttons ul li
{
    display: inline-block;
    float: right;

    width: 80px;
    height: 100%;
}

// SWIPE - BUTTONS
// -------------------------------------------------- //

.swipe-buttons .button-swipe
{
    font-family: ionicons;
    font-size: 26px;

    text-align: center;

    color: @white;
}

.swipe-buttons .button-swipe.delete:after
{
    font-size: 25px;
    line-height: 66px;

    content: '\f4c5';
}

.swipe-buttons .button-swipe.add-photo:after
{
    font-size: 21px;
    line-height: 66px;

    content: '\f2d3';
}

.swipe-buttons .button-swipe.delete-photo:after
{
    font-size: 21px;
    line-height: 66px;

    content: '\f2d3';
}

.swipe-buttons .button-swipe.delete-photo:before
{
    font-size: 24px;
    line-height: 66px;

    position: absolute;
    z-index: 10;

    content: '\f12a';

    color: @violet!important;
}

.swipe-buttons .button-swipe.commission:after
{
    font-size: 21px;
    line-height: 66px;

    content: '\f353';
}

.swipe-buttons .button-swipe.group
{
    text-align: left;
}

.swipe-buttons .button-swipe.group span
{
    font-size: @medium;
    line-height: 20px;

    position: absolute;

    width: 20px;
    height: 20px;
    margin-top: 22px;
    margin-left: 30px;

    content: '';
    text-align: center;

    color: @violet;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: @white;
}

// BUTTON DEFAULT
// -------------------------------------------------- //

.wrapper-button-default
{
    position: relative;

    display: block;

    width: 100%;
    min-height: 44px;
}

.wrapper-button-default .button-default
{
    line-height: 44px;

    position: relative;
    z-index: 100;

    display: inline-block;
    float: left;

    width: 100%;
    height: 100%;

    text-align: center;

    color: @white;
    background-color: @violet;
}

.wrapper-button-default.one-button-default .button-default
{
    width: 100%;
}

.wrapper-button-default.two-button-default .button-default
{
    float: left;

    width: 50%;
}

.wrapper-button-default.two-button-default .button-default:first-child
{
    border-right: 1px solid @violet-dark;
}

.wrapper-button-default.two-button-default .button-default:nth-child(2)
{
    border-left: 1px solid @violet-dark;
}

// BUTTON PRIMARY
// -------------------------------------------------- //

.button-primary
{
    line-height: 44px;

    position: relative;

    display: block;
    clear: both;

    height: 44px;
    margin: 15px;

    text-align: center;

    color: @white;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: @violet;
}

.button-primary.add-photo:after
{
    font-family: ionicons;
    font-size: 21px;
    line-height: 46px;

    content: '\f2d3';
    text-align: center;
}

.button-primary.delete-photo:after
{
    font-family: ionicons;
    font-size: 21px;
    line-height: 46px;

    content: '\f2d3';
    text-align: center;
}

.button-primary.delete-photo:before
{
    font-family: ionicons;
    font-size: 24px;
    line-height: 46px;

    position: absolute;
    z-index: 10;

    content: '\f12a';
    text-align: center;

    color: @violet!important;
}

// DRAG ACCOUNT
// -------------------------------------------------- //

.drag-account
{
    font-size: @small;
    line-height: 30px;

    position: relative;

    display: block;

    width: 100%;
    height: 30px;
    padding: 0 15px;

    color: @white;
    background-color: @violet-light;
}

.drag-account .account
{
    float: left;
}

.drag-account .balance
{
    float: right;
}

.drag-account .peeking
{
    position: absolute;
    bottom: -6px;
    left: 50%;

    width: 242px;
    height: 84px;
    margin-left: -121px;

    background-image: url('../img/peeking.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

// FORM
// -------------------------------------------------- //

#complete,
#isolate
{
    max-width: 400px;
    margin: 0 auto;
}

form,
input,
textarea,
select
{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    text-decoration: none;
    text-transform: none;

    color: @black;
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none!important;
            box-shadow: none!important;

    -webkit-appearance: none;
            appearance: none;
}

input:disabled,
textarea:disabled,
select:disabled
{
    opacity: 1;
}

form
{
    width: 100%;
}

input
{
    line-height: 40px;

    width: 100%;
    height: 45px;
    padding: 0 15px;

    border: 1px solid @gray;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: @white;
}

textarea
{
    display: block;
    clear: both;

    width: 100%;
    padding: 10px 15px;

    resize: none;

    border: 1px solid @gray;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: @white;
}

// FORM TEXT COLOR
// -------------------------------------------------- //

select
{
    color: @gray;
}

input,
textarea
{
    color: @black;
}

input:focus,
textarea:focus,
select:focus
{
    color: @black;
}

::-webkit-input-placeholder
{
    color: @gray!important;
}

// FORM > ERROR
// -------------------------------------------------- //

input.error,
select.error,
textarea.error
{
    border-color: @red !important;
}

.wrapper-input .input-icon.error:before
{
    background-color: @red !important;
}

.wrapper-select.error:after
{
    background-color: @red !important;
}

// FORM - COMMENT
// -------------------------------------------------- //

.wrapper-comment
{
    position: relative;

    display: block;
    clear: both;
    clear: both;

    margin: 15px;
}

// FORM - INPUT
// -------------------------------------------------- //

.wrapper-input
{
    position: relative;

    display: block;
    clear: both;

    margin: 15px;
}

// FORM - TWO INPUT
// -------------------------------------------------- //

.wrapper-input.two-input
{
    display: block;

    margin: 15px 7.5px;
}

.wrapper-input.two-input .wrapper-input
{
    display: table-cell;
    clear: none;

    padding: 0 7.5px;
}

// FORM - INPUT > ICON
// -------------------------------------------------- //

.wrapper-input .input-icon input
{
    padding-left: 65px;
}

.wrapper-input .input-icon:before
{
    font-family: ionicons;
    font-size: 26px;
    line-height: 45px;

    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 45px;

    text-align: center;

    color: @white;
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
    background-color: @gray;
}

// FORM - FORM INPUT > ICONS
// -------------------------------------------------- //

.wrapper-input .input-icon.price:before
{
    font-size: 26px;
    line-height: 45px;

    content: '\f353';
}

// HELP BLOCK
// -------------------------------------------------- //

.help-block
{
    font-size: @small;

    position: relative;

    display: block;
    clear: both;

    width: 100%;
    margin-top: 5px;

    text-align: left;

    color: @gray;
}

.help-block.header
{
    margin-top: 0;
    margin-bottom: 15px;

    text-align: center;
}

// RADIO BUTTON
// -------------------------------------------------- //

.radiobutton
{
    position: relative;

    width: 32px;
    height: 32px;

    text-align: center;

    border: 2px solid @violet;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.radiobutton.active:after
{
    font-family: ionicons;
    font-size: 15px;
    line-height: 30px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    height: 32px;
    margin-right: auto;
    margin-left: auto;

    content: '\f21b';

    color: @violet;
}

// RADIO BUTTON (IN LINE)
// -------------------------------------------------- //

.wrapper-radiobutton
{
    position: relative;

    display: table;
    clear: both;

    width: 100%;
    margin: 15px 0;

    text-align: center;
}

.wrapper-radiobutton .group-radiobutton
{
    position: relative;

    display: inline-block;

    margin-left: 15px;
}

.wrapper-radiobutton .group-radiobutton:first-child
{
    margin-left: 0;
}

.wrapper-radiobutton .group-radiobutton .radiobutton
{
    float: left;
}

.wrapper-radiobutton .group-radiobutton span
{
    float: left;

    margin-top: 5px;
    margin-left: 5px;
}

// SELECT
// -------------------------------------------------- //

.wrapper-select
{
    position: relative;

    display: block;
    clear: both;

    margin: 15px;
}

.wrapper-select:after
{
    font-family: ionicons;
    font-size: 16px;
    line-height: 30px;

    position: absolute;
    top: 0;
    right: 0;

    height: 30px;
    padding: 0 10px;

    content: '\f104';

    color: @white;
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
    background-color: @violet;
}

.select
{
    position: relative;

    display: block;

    width: 100%;

    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: @white;
}

select
{
    font-size: @small;
    line-height: 28px;

    position: relative;
    z-index: 10;

    display: block;

    width: 100%;
    height: 30px;
    padding-right: 40px;
    padding-left: 10px;

    border: 1px solid @violet;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}

// CALENDAR
// -------------------------------------------------- //

.wrapper-calendar
{
    position: relative;

    display: block;
    clear: both;

    margin: 15px;
}

.wrapper-calendar .calendar
{
    font-size: @small;
    line-height: 30px;

    position: relative;

    display: block;

    height: 30px;
    padding: 0 15px;

    text-align: center;
    text-decoration: none;

    color: @white;
    border: 1px solid @black;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: @black;
}

.wrapper-calendar .buttons-calendar
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.wrapper-calendar .buttons-calendar .button-left,
.wrapper-calendar .buttons-calendar .button-right
{
    position: relative;

    width: 80px;
    height: 100%;
}

.wrapper-calendar .buttons-calendar .button-left
{
    float: left;
}

.wrapper-calendar .buttons-calendar .button-right
{
    float: right;
}

.wrapper-calendar .calendar:before
{
    font-family: ionicons;
    font-size: 16px;
    line-height: 30px;

    position: absolute;
    left: 0;

    height: 100%;
    padding: 0 10px;

    content: '\f107';

    color: @white;
}

.wrapper-calendar .calendar:after
{
    font-family: ionicons;
    font-size: 16px;
    line-height: 30px;

    position: absolute;
    right: 0;

    height: 100%;
    padding: 0 10px;

    content: '\f10a';

    color: @white;
}

.wrapper-calendar .calendar.end-left:before,
.wrapper-calendar .calendar.end-right:after
{
    opacity: 0!important;
}

// TITLE SECTION
// -------------------------------------------------- //

.title-section
{
    font-size: @small;
    line-height: 30px;

    position: relative;

    display: block;
    clear: both;

    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding: 0 15px;

    color: @black;
    background-color: @gray-lighter;
}

// CHECKBOX
// -------------------------------------------------- //

.wrapper-checkbox
{
    position: relative;

    display: table;
    clear: both;

    width: 100%;
    margin: 15px;
}

.checkbox
{
    position: relative;

    float: left;

    width: 32px;
    height: 32px;

    text-align: center;

    border: 2px solid @violet;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}

.checkbox.active:after
{
    font-family: ionicons;
    font-size: 18px;
    line-height: 29px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    height: 32px;
    margin-right: auto;
    margin-left: auto;

    content: '\f122';

    color: @violet;
}

.wrapper-checkbox span
{
    float: left;

    margin-top: 5px;
    margin-left: 5px;
}

// FEEDBACK
// -------------------------------------------------- //

.wrapper-feedback
{
    position: relative;

    display: table;
    clear: both;

    width: 100%;
    margin: 15px 0;

    text-align: center;

    .smoothing();
}

.wrapper-feedback .button-feedback
{
    font-family: ionicons;
    font-size: 36px;
    line-height: 1;

    position: relative;

    display: inline-block;

    margin: 0 30px;

    color: @gray;
}

.wrapper-feedback .button-feedback.happy:after
{
    content: '\f3c6';
}

.wrapper-feedback .button-feedback.happy.active:after
{
    color: @green;
}

.wrapper-feedback .button-feedback.sad:after
{
    content: '\f4d7';
}

.wrapper-feedback .button-feedback.sad.active:after
{
    color: @red;
}

// MAP
// -------------------------------------------------- //

#map .wrapper-label
{
    height: 30px;
    min-height: inherit;
}

#map .label
{
    font-size: 12px;
    line-height: 30px;

    height: 30px;
    min-height: inherit;
    padding: 0 0 0 15px;

    border-bottom: transparent;
}

#map .label:after
{
    display: none;

    content: '';
}

#map .label.trade .row
{
    z-index: 10;

    margin-left: 33px;
}

#map .label.trade .net
{
    padding: 0 15px;

    text-align: right;
}

#map .label.trade .ball
{
    z-index: 10;

    width: 18px;
    height: 18px;
}

#map .label.trade.long .ball,
#map .label.trade.short .ball
{
    background-color: @white;
}

#map .label.trade .ball .icon
{
    font-size: 12px;
    line-height: 18px;
}

#map .label.trade.long .ball .icon
{
    color: @green;
}

#map .label.trade.short .ball .icon
{
    color: @red;
}

#map .label.trade.long .ball .icon:after
{
    font-size: 12px!important;
    line-height: 18px!important;
}

#map .label.trade.short .ball .icon:after
{
    font-size: 12px!important;
    line-height: 20px!important;
}

#map .percentage
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding-left: 40px;
}

#map .label.trade.positive .percentage
{
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(75,215,99,1)), color-stop(100%,rgba(75,215,99,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(75,215,99,1) 0%,rgba(75,215,99,0) 100%); /* Chrome10+,Safari5.1+ */
    background:         linear-gradient(to right,  rgba(75,215,99,1) 0%,rgba(75,215,99,0) 100%); /* W3C */
}

#map .label.negative .percentage
{
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,59,48,1)), color-stop(100%,rgba(255,59,48,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,59,48,1) 0%,rgba(255,59,48,0) 100%); /* Chrome10+,Safari5.1+ */
    background:         linear-gradient(to right,  rgba(255,59,48,1) 0%,rgba(255,59,48,0) 100%); /* W3C */
}

#map .label.zero .percentage
{
    background-color: @violet-light;
}

#map .bar-percentage
{
    float: right;

    width: 100%;
    height: 100%;

    background-color: @white;
}

// PANE
// -------------------------------------------------- //

.pane
{
    font-size: @small;

    position: relative;

    display: block;

    width: 100%;
    margin: 15px 0;
}

.pane li
{
    position: relative;

    display: table;
    clear: both;

    width: 100%;
    padding: 0 15px;
}

.pane li .col-1,
.pane li .col-2
{
    position: relative;

    display: table-cell;

    width: 1%;
}

.pane li .col-1
{
    padding-right: 7.5px;

    text-align: right;
}

.pane li .col-2
{
    padding-left: 7.5px;

    text-align: left;
}

.pane li .col-2 .percentage
{
    float: right;

    text-align: right;
}

// SELECT GROUP
// -------------------------------------------------- //

.wrapper-select-group
{
    position: relative;

    display: table;
    clear: both;

    width: 100%;
    margin: 15px 0;
    padding: 0 15px;

    text-align: center;
}

.wrapper-select-group .group
{
    font-size: 15px;
    line-height: 30px;

    position: relative;

    display: inline-block;

    width: 32px;
    height: 32px;
    margin-left: 15px;

    text-align: center;

    color: @white;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: @violet-light;
}

.wrapper-select-group .group.selected
{
    background-color: @violet;
}

.wrapper-select-group .group:first-child
{
    margin-left: 0;
}

// HEADER - BOX SWIPE
// -------------------------------------------------- //

.header-box-swipe
{
    position: fixed;
    z-index: 1000;
    top: 0;
    top: 64px;
    left: 0;

    display: block;
    overflow: auto;

    width: 100%;

    background-color: @white;
}

// CONTROL - BOX SWIPE
// -------------------------------------------------- //

.wrapper-control-box-swipe
{
    position: fixed;
    z-index: 1000;
    bottom: 44px;

    display: block;
    clear: both;

    width: 100%;
    height: 30px;

    background-color: @violet;
}

.control-box-swipe
{
    position: relative;

    display: table;

    width: 100%;
    height: 30px;

    text-align: center;
}

.control-box-swipe:before,
.control-box-swipe:after
{
    font-family: ionicons;
    font-size: 18px;

    position: relative;
    top: 2px;

    padding: 0 5px;

    color: @violet-light;
}

.control-box-swipe:before
{
    content: '\f107';
}

.control-box-swipe:after
{
    content: '\f10a';
}

.control-box-swipe.end-left:before,
.control-box-swipe.end-right:after
{
    opacity: 0!important;
}

.control-box-swipe li
{
    position: relative;

    display: inline-block;

    padding: 0 5px;

    text-align: center;

    color: @violet-light;
}

.control-box-swipe li:after
{
    font-family: ionicons;
    font-size: 12px;
    line-height: 30px;

    content: '\f21b';
}

.control-box-swipe li.active
{
    color: @white!important;
}

// CONTROL - BOX SWIPE - ACTIVE GROUP
// -------------------------------------------------- //

.wrapper-control-box-swipe .wrapper-active-group
{
    position: absolute;
    top: 0;
    left: -3px;

    width: 100%;
    height: 30px;
    margin: 0 15px;
}

.wrapper-control-box-swipe .wrapper-active-group .group
{
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;

    float: left;

    width: 14px;
    height: 14px;
    margin-top: 8px;
    margin-left: 3px;

    text-align: center;

    color: @violet;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: @violet-light;
}

.wrapper-control-box-swipe .wrapper-active-group .group.selected
{
    background-color: @white;
}

// BOX SWIPE
// -------------------------------------------------- //

.box-swipe
{
    min-height: 100%;
    padding-top: 112px;
    padding-bottom: 30px;

    color: @white;
    background-color: @violet;
}

// BOX-VIOLET
// -------------------------------------------------- //

.box-violet
{
    padding-bottom: 34px;

    color: @white;
    background-color: @violet;
}

// BOX-VIOLET / BOX SWIPE - FORM
// -------------------------------------------------- //

.box-violet form,
.box-swipe form
{
    color: @white;
}

.box-violet input,
.box-swipe input
{
    border: 1px solid @violet-light;
}

.box-violet .wrapper-input .input-icon:before,
.box-swipe .wrapper-input .input-icon:before
{
    color: @white;
    background: @violet-light;

    .smoothing;
}

.box-violet textarea,
.box-swipe textarea
{
    border: 1px solid @violet-dark;
}

// BOX-VIOLET / BOX SWIPE - HELP BLOCK
// -------------------------------------------------- //

.box-violet .help-block,
.box-swipe .help-block
{
    color: @violet-light;
}

// BOX-VIOLET / BOX SWIPE - TEXT NOTE
// -------------------------------------------------- //

.box-violet .text-note,
.box-swipe .text-note
{
    color: @violet-light;
}

// BOX-VIOLET / BOX SWIPE - SELECT
// -------------------------------------------------- //

.box-violet .wrapper-select:after,
.box-swipe .wrapper-select:after
{
    color: @white;
    background-color: @violet-dark;
}

.box-violet select,
.box-swipe select
{
    border: 1px solid @violet-dark;
}

// BOX-VIOLET / BOX SWIPE - RADIO BUTTON
// -------------------------------------------------- //

.box-violet .radiobutton,
.box-swipe .radiobutton
{
    border: 2px solid @white;
}

.box-violet .radiobutton.active:after,
.box-swipe .radiobutton.active:after
{
    color: @white;
}

// BOX-VIOLET / BOX SWIPE - BUTTON PRIMARY
// -------------------------------------------------- //

.box-violet .button-primary,
.box-swipe .button-primary
{
    color: @violet;
    background-color: @white;
}

// BOX-VIOLET / BOX SWIPE - BUTTON PRIMARY / START / DONE
// -------------------------------------------------- //

#start,
#done
{
    font-weight: 600;

    color: @white;
    background-color: @green;

    .smoothing;
}

// BOX-VIOLET / BOX SWIPE - CHECKBOX
// -------------------------------------------------- //

.box-violet .checkbox,
.box-swipe .checkbox
{
    border: 2px solid @white;
}

.box-violet .checkbox.active:after,
.box-swipe .checkbox.active:after
{
    color: @white;
}

// BOX-VIOLET / BOX SWIPE - LABEL
// -------------------------------------------------- //

.box-violet .label:after,
.box-swipe .label:after
{
    color: @violet-dark;
}

.box-violet .label,
.box-swipe .label
{
    color: @white;
    border-bottom: 1px solid @violet-dark;
    background-color: @violet;
}

.box-violet .label.account .name,
.box-swipe .label.account .name
{
    color: @white;
}

.box-violet .label.account .balance,
.box-swipe .label.account .balance
{
    color: @violet-light;
}

.box-violet .label.instrument .ball,
.box-swipe .label.instrument .ball
{
    background-color: @white;
}

.box-violet .label.instrument .ball .group,
.box-swipe .label.instrument .ball .group
{
    color: @violet;
}

.box-violet .label.instrument .name,
.box-swipe .label.instrument .name
{
    color: @white;
}
.box-violet .label.instrument .type,
.box-violet .label.instrument .commission,
.box-swipe .label.instrument .type,
.box-swipe .label.instrument .commission
{
    color: @violet-light;
}

// BOX-VIOLET / BOX SWIPE - SWIPE BUTTONS
// -------------------------------------------------- //

.box-violet .swipe-buttons,
.box-swipe .swipe-buttons
{
    background-color: @violet-dark;
}

// BOX-VIOLET / BOX SWIPE - MAP
// -------------------------------------------------- //

.box-violet .label.trade .instrument,
.box-violet .label.operation .instrument,
.box-swipe .label.trade .instrument,
.box-swipe .label.operation .instrument
{
    color: @white;
}

.box-violet #map .bar-percentage,
.box-swipe #map .bar-percentage
{
    background-color: @violet;
}

.box-violet #map .label.trade .net,
.box-swipe #map .label.trade .net
{
    color: @white;
    background-color: @violet;
}

.box-violet #map .label,
.box-swipe #map .label
{
    border-bottom: transparent;
}

// BOX-VIOLET / BOX SWIPE - PANE
// -------------------------------------------------- //

.box-violet .pane,
.box-swipe .pane
{
    color: @white;
}

// BOX-VIOLET / BOX SWIPE - FEEDBACK
// -------------------------------------------------- //

.box-violet .wrapper-feedback .button-feedback,
.box-swipe .wrapper-feedback .button-feedback
{
    color: @violet-light;
}

.box-violet .wrapper-feedback .button-feedback.happy.active:after,
.box-violet .wrapper-feedback .button-feedback.sad.active:after,
.box-swipe .wrapper-feedback .button-feedback.happy.active:after,
.box-swipe .wrapper-feedback .button-feedback.sad.active:after
{
    color: @white;
}

// BOX-VIOLET / BOX SWIPE - TITLE SECTION
// -------------------------------------------------- //

.box-violet .title-section,
.box-swipe .title-section
{
    color: @white;
    background-color: @violet-dark;
}

// BOX-VIOLET / BOX SWIPE - SELECT GROUP
// -------------------------------------------------- //

.box-violet .wrapper-select-group .group,
.box-swipe .wrapper-select-group .group
{
    color: @white;
    background-color: @violet-light;
}

.box-violet .wrapper-select-group .group.selected,
.box-swipe .wrapper-select-group .group.selected
{
    color: @violet;
    background-color: @white;
}

// WELCOME
// -------------------------------------------------- //

.welcome
{
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100%;

    background-color: @violet;
}

.welcome .content
{
    position: relative;
    z-index: 100;
    top: 0;
    left: 0;
}

.welcome h1
{
    font-weight: 100;
    font-style: normal;
    line-height: 1;

    display: block;
    clear: both;

    margin: 0 0 30px 0;

    text-align: center;
    letter-spacing: 1px;

    .smoothing();
}
.welcome .text-body
{
    margin: 30px 15px;

    text-align: center;

    color: @white;

    .smoothing();
}

.welcome .video
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100%;

    opacity: .3;
    background: url('../img/welcome.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
            background-size: cover;
}
