@charset "UTF-8";

// GLOBAL
// -------------------------------------------------- //

html,
body
{
    overflow-x: hidden;
}

ul,
ol
{
    margin: 0;
    padding: 0;

    list-style: none;
}

*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*:before,
*:after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

// PALETTE COLOR
// -------------------------------------------------- //

@white: #fff;

@black: #222;

@gray-dark: #333;

@gray: #989898;

@gray-light: #dadada;

@gray-lighter: #f6f6f6;

@violet-dark: darken(@violet, 10%);

@violet: #4020d0;

@violet-light: #9f8fe7;

@green: #4bd763;

@red: #ff3b30;

// FONT - SIZE
// -------------------------------------------------- //

@small: 12px;
@medium: 15px;

// TEXT - NOTE
// -------------------------------------------------- //

.text-note
{
    font-size: @small;

    display: block;

    margin: 15px;

    color: @gray;
}

// TEXT - BODY
// -------------------------------------------------- //

.text-body
{
    display: block;

    margin: 15px;
}

// LABEL
// -------------------------------------------------- //

.wrapper-label
{
    position: relative;

    display: block;
    clear: both;

    width: 100%;
    min-height: 65px;
}

.label
{
    position: relative;
    z-index: 100;

    display: block;

    width: 100%;
    min-height: 65px;
    padding: 10px 40px 10px 15px;

    color: @black;
    border-bottom: 1px solid @gray-light;
    background-color: @white;
}

.label:after
{
    font-family: ionicons;
    font-size: 14px;
    line-height: 1;

    position: absolute;
    top: 50%;
    right: 15px;

    margin-top: -5px;

    content: '\f125';

    color: @gray;
}

// LABEL > FULL
// -------------------------------------------------- //

.label.full
{
    padding-right: 15px;
}

.label.full:after
{
    display: none;

    content: '';
}

// LABEL > NO-CLICK
// -------------------------------------------------- //

.label.no-click:after
{
    display: none;

    content: '';
}

// LABEL - ROW
// -------------------------------------------------- //

.label .row
{
    position: relative;

    clear: both;
    overflow: hidden;
}

// LABEL > COMMENT
// -------------------------------------------------- //

.label.comment
{
    padding: 10px 15px;
}

.label.comment:after
{
    display: none;

    content: '';
}

.label.comment .row
{
    margin-left: 33px;
}

.label.comment .size-price,
.label.comment .body
{
    float: left;

    color: @black;
}

.label.comment .date
{
    float: left;

    color: @gray;
}

.label.comment .ball
{
    position: absolute;

    width: 18px;
    height: 18px;
    margin-top: 15px;

    text-align: center;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: @black;
}

// COMMENT - PHOTO
// -------------------------------------------------- //

.comment.photo
{
    margin: 15px;
}

.comment.photo img
{
    width: 100%;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

// LABEL > COMMENT > LONG
// -------------------------------------------------- //

.label.comment.buy .ball
{
    background-color: @green;
}

// LABEL > COMMENT > SHORT
// -------------------------------------------------- //

.label.comment.sell .ball
{
    background-color: @red;
}

// LABEL > COMMENT > WITHDRAW
// -------------------------------------------------- //

.label.comment.commentary .ball
{
    background-color: @gray;
}

// LABEL > ACCOUNT
// -------------------------------------------------- //

.label.account .row
{
    margin-left: 50px;
}

.label.account .name
{
    float: left;

    color: @black;
}

.label.account .balance
{
    float: left;

    color: @gray;
}

.label.account .radiobutton
{
    position: absolute;

    margin-top: 6px;
}

// LABEL > INSTRUMENT
// -------------------------------------------------- //

.label.instrument .row
{
    margin-left: 50px;
}

.label.instrument .name
{
    float: left;

    color: @black;
}

.label.instrument .net.positive
{
    float: right;

    color: @violet;
}

.label.instrument .net.negative
{
    float: right;

    color: @black;
}

.label.instrument .type
{
    float: left;

    color: @gray;
}

.label.instrument .commission
{
    float: right;

    color: @gray;
}

.label.instrument .ball
{
    position: absolute;

    width: 32px;
    height: 32px;
    margin-top: 6px;

    text-align: center;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: @violet;
}


.label.instrument .ball .group
{
    font-size: 15px;
    line-height: 30px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    height: 32px;
    margin-right: auto;
    margin-left: auto;

    color: @white;
}

// LABEL > TRADE / OPERATION
// -------------------------------------------------- //

.label.trade .row,
.label.operation .row
{
    margin-left: 50px;
}

.label.trade .instrument,
.label.operation .instrument
{
    float: left;

    color: @black;
}

.label.trade .net.positive,
.label.operation .net.positive
{
    float: right;

    color: @violet;
}

.label.trade .net.negative,
.label.operation .net.negative
{
    float: right;

    color: @black;
}


.label.trade .net.cero,
.label.operation .net.cero
{
    float: right;

    color: @gray;
}

.label.trade .size-price,
.label.operation .size-price,
.label.trade .date,
.label.operation .date
{
    float: left;

    color: @gray;
}

.label.trade .variation,
.label.operation .variation
{
    float: right;

    color: @gray;
}

.label.trade .ball,
.label.operation .ball
{
    position: absolute;

    width: 32px;
    height: 32px;
    margin-top: 6px;

    text-align: center;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: @black;
}

.label.trade .ball .globe-comments,
.label.operation .ball .globe-comments
{
    font-size: 12px;
    line-height: 17px;

    position: absolute;
    top: -5px;
    right: -5px;

    height: 17px;
    padding: 0 5px;

    text-align: center;

    color: @white;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
    background-color: @black;
}

.label.trade .ball .globe-commission,
.label.operation .ball .globe-commission
{
    font-size: 12px;
    line-height: 17px;

    position: absolute;
    bottom: -5px;
    left: -5px;

    min-width: 17px;
    height: 17px;

    color: @black;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
    background-color: @white;
}

.label.trade .ball .globe-commission:after,
.label.operation .ball .globe-commission:after
{
    font-family: ionicons;

    content: '\f100';
}

.label.trade .ball .icon,
.label.operation .ball .icon
{
    font-family: ionicons;
    font-size: 16px;
    line-height: 32px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    height: 32px;
    margin-right: auto;
    margin-left: auto;

    color: @white;
}

// LABEL > TRADE > OPEN
// -------------------------------------------------- //

.label.trade.open
{
    border-bottom: 1px solid @gray-dark;
    background-color: @black;
}

.label.trade.open .instrument,
.label.trade.open .net.positive,
.label.trade.open .net.negative
{
    color: @white;
}

// LABEL > TRADE > LONG
// -------------------------------------------------- //

.label.trade.long .ball
{
    background-color: @green;
}

.label.trade.long .ball .icon:after
{
    font-size: 16px;
    line-height: 32px;

    content: '\f10d';
}

// LABEL > TRADE > SHORT
// -------------------------------------------------- //

.label.trade.short .ball
{
    background-color: @red;
}

.label.trade.short .ball .icon:after
{
    font-size: 16px;
    line-height: 35px;

    content: '\f104';
}

// LABEL > OPERATION > WITHDRAW
// -------------------------------------------------- //

.label.operation.withdraw .ball
{
    background-color: @gray;
}

.label.operation.withdraw .ball .icon:after
{
    font-size: 16px;
    line-height: 32px;

    content: '\f107';
}

// LABEL > OPERATION > DEPOSIT
// -------------------------------------------------- //

.label.operation.deposit .ball
{
    background-color: @gray;
}

.label.operation.deposit .ball .icon:after
{
    font-size: 16px;
    line-height: 32px;

    content: '\f10a';
}

// WRAPPER LABEL - SWIPE
// -------------------------------------------------- //

.wrapper-swipe
{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-color: @violet-light;
}

.swipe
{
    position: relative;

    display: block;

    height: 65px;

    border-top: 1px solid @violet-dark;
    background-color: @violet;
}

.swipe:before
{
    position: absolute;
    top: 0;
    left: 65px;

    width: 100%;
    height: 1px;

    background-color: @violet-light;
}

.swipe ul
{
    position: relative;

    display: block;

    height: 100%;
}

.swipe ul li
{
    display: inline-block;
    float: right;

    width: 80px;
    height: 100%;
}

// SWIPE - BUTTONS
// -------------------------------------------------- //
.swipe .button-swipe
{
    font-family: ionicons;
    font-size: 26px;

    text-align: center;

    color: @white;
}

.swipe .button-swipe.delete:after
{
    font-size: 25px;
    line-height: 66px;

    content: '\f4c5';
}

.swipe .button-swipe.commission:after
{
    font-size: 21px;
    line-height: 66px;

    content: '\f353';
}

.swipe .button-swipe.group
{
    text-align: left;
}

.swipe .button-swipe.group span
{
    font-size: @medium;
    line-height: 20px;

    position: absolute;

    width: 20px;
    height: 20px;
    margin-top: 22px;
    margin-left: 30px;

    content: '';
    text-align: center;

    color: @violet;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: @white;
}

// SWIPE > ACTIVE
// -------------------------------------------------- //

.active-swipe.one-button-swipe
{
    left: -80px;
}
.active-swipe.two-button-swipe
{
    left: -160px;
}

// BUTTON DEFAULT
// -------------------------------------------------- //

.wrapper-button-default
{
    position: relative;

    display: block;

    width: 100%;
    min-height: 44px;
}

.wrapper-button-default .button-default
{
    line-height: 44px;

    position: relative;
    z-index: 100;

    display: inline-block;
    float: left;

    width: 100%;
    height: 100%;

    text-align: center;

    color: @white;
    background-color: @violet;
}

.wrapper-button-default.one-button-default .button-default
{
    width: 100%;
}

.wrapper-button-default.two-button-default .button-default
{
    float: left;

    width: 50%;
}

.wrapper-button-default.two-button-default .button-default:first-child
{
    border-right: 1px solid @white;
}

// BUTTON PRIMARY
// -------------------------------------------------- //

.button-primary
{
    line-height: 44px;

    position: relative;

    display: block;
    clear: both;

    height: 44px;
    margin: 15px;

    text-align: center;

    color: @white;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: @violet;
}

.button-primary.add-photo:after
{
    font-family: ionicons;
    font-size: 21px;
    line-height: 46px;

    content: '\f2d3';
    text-align: center;
}

.button-primary.delete-photo:after
{
    font-family: ionicons;
    font-size: 21px;
    line-height: 46px;

    content: '\f2d3';
    text-align: center;
}

.button-primary.delete-photo:before
{
    font-family: ionicons;
    font-size: 24px;
    line-height: 46px;

    position: absolute;
    z-index: 10;

    content: '\f12a';
    text-align: center;

    color: @violet!important;
}

// DRAG ACCOUNT
// -------------------------------------------------- //

.drag-account
{
    font-size: @small;
    line-height: 30px;

    position: relative;

    display: block;

    width: 100%;
    height: 30px;
    padding: 0 15px;

    color: @white;
    background-color: @violet-light;

    margin-bottom: -30px;
    top: -30px;
}

.drag-account .account
{
    float: left;
}

.drag-account .balance
{
    float: right;
}

// FORM
// -------------------------------------------------- //

form
{
    width: 100%;
}

input
{
    line-height: 40px;

    width: 100%;
    height: 45px;
    padding: 0 15px;

    border: 1px solid @gray;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

textarea
{
    font-size: inherit;
    line-height: inherit;

    display: block;
    clear: both;

    width: 100%;
    padding: 10px 15px;

    resize: none;

    border: 1px solid @gray;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

form,
input,
textarea
{
    color: @black;
}

// FORM - PLACEHOLDER COLOR
// -------------------------------------------------- //

::-webkit-input-placeholder
{
    color: @gray;
}

:-moz-placeholder
{
    opacity: 1;
    color: @gray;
}

::-moz-placeholder
{
    opacity: 1;
    color: @gray;
}

:-ms-input-placeholder
{
    color: @gray;
}

// FORM - COMMENT
// -------------------------------------------------- //

.wrapper-comment
{
    position: relative;

    display: block;
    clear: both;
    clear: both;

    margin: 15px;
}

// FORM - INPUT
// -------------------------------------------------- //

.wrapper-input
{
    position: relative;

    display: block;
    clear: both;

    margin: 15px;
}

// FORM - TWO INPUT
// -------------------------------------------------- //

.wrapper-input.two-input
{
    display: inline-block;

    margin: 15px 7.5px;
}

.wrapper-input.two-input .wrapper-input
{
    display: table-cell;
    clear: none;

    padding: 0 7.5px;
}

// FORM - INPUT > ICON
// -------------------------------------------------- //

.wrapper-input .input-icon input
{
    padding-left: 65px;
}

.wrapper-input .input-icon:before
{
    font-family: ionicons;
    font-size: 26px;
    line-height: 45px;

    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 45px;

    text-align: center;

    color: @white;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px;
    background-color: @gray;
}

// FORM - FORM INPUT > ICONS
// -------------------------------------------------- //

.wrapper-input .input-icon.price:before
{
    font-size: 26px;
    line-height: 45px;

    content: '\f353';
}

// HELP BLOCK
// -------------------------------------------------- //

.help-block
{
    font-size: @small;

    position: relative;

    display: block;
    clear: both;

    width: 100%;
    margin-top: 5px;

    color: @gray;
}

.help-block.header
{
    margin-top: 0;
    margin-bottom: 15px;
}

// RADIO BUTTON
// -------------------------------------------------- //

.radiobutton
{
    position: relative;

    width: 32px;
    height: 32px;

    text-align: center;

    border: 2px solid @violet;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.radiobutton.active:after
{
    font-family: ionicons;
    font-size: 15px;
    line-height: 30px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    height: 32px;
    margin-right: auto;
    margin-left: auto;

    content: '\f21b';

    color: @violet;
}

// RADIO BUTTON (IN LINE)
// -------------------------------------------------- //

.wrapper-radiobutton
{
    position: relative;

    display: table;
    clear: both;

    width: 100%;
    margin: 15px 0;

    text-align: center;
}

.group-radiobutton
{
    position: relative;

    display: inline-block;

    margin-left: 15px;
}

.group-radiobutton .radiobutton
{
    float: left;
}

.group-radiobutton span
{
    float: left;

    margin-top: 5px;
    margin-left: 5px;
}

// SELECT
// -------------------------------------------------- //

.wrapper-select
{
    position: relative;

    display: block;
    clear: both;

    margin: 15px;
}

.wrapper-select .select
{
    font-size: @small;
    line-height: 30px;

    position: relative;

    display: block;

    height: 30px;
    padding: 0 15px;

    text-decoration: none;

    color: @gray;
    border: 1px solid @violet;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: @white;
}

.wrapper-select .select:after
{
    font-family: ionicons;
    font-size: 16px;
    line-height: 30px;

    position: absolute;
    right: 0;

    height: 100%;
    padding: 0 10px;

    content: '\f104';

    color: @white;
    background-color: @violet;
}

// TITLE SECTION
// -------------------------------------------------- //

.title-section
{
    font-size: @small;
    line-height: 30px;

    position: relative;

    display: block;
    clear: both;

    width: 100%;
    height: 30px;
    margin: 15px 0;
    padding: 0 15px;

    color: @black;
    background-color: @gray-lighter;
}

// CHECKBOX
// -------------------------------------------------- //

.wrapper-checkbox
{
    position: relative;

    display: table;
    clear: both;

    width: 100%;
    margin: 15px;
}

.checkbox
{
    position: relative;

    float: left;

    width: 32px;
    height: 32px;

    text-align: center;

    border: 2px solid @violet;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.checkbox.active:after
{
    font-family: ionicons;
    font-size: 18px;
    line-height: 29px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    height: 32px;
    margin-right: auto;
    margin-left: auto;

    content: '\f122';

    color: @violet;
}

.wrapper-checkbox span
{
    float: left;

    margin-top: 5px;
    margin-left: 5px;
}

// FEEDBACK
// -------------------------------------------------- //

.wrapper-feedback
{
    position: relative;

    display: table;
    clear: both;

    width: 100%;
    margin: 15px 0;

    text-align: center;
}

.wrapper-feedback .button-feedback
{
    font-family: ionicons;
    font-size: 36px;
    line-height: 1;

    position: relative;

    display: inline-block;

    margin: 0 30px;
}

.wrapper-feedback .button-feedback.happy:after
{
    content: '\f3c6';

    color: @green;
}

.wrapper-feedback .button-feedback.sad:after
{
    content: '\f4d7';

    color: @gray;
}

// MAP
// -------------------------------------------------- //

#map .wrapper-label
{
    height: 30px;
    min-height: inherit;
}

#map .label
{
    font-size: 12px;
    line-height: 30px;

    height: 30px;
    min-height: inherit;
    padding: 0 0 0 15px;

    border-bottom: transparent;
}

#map .label:after
{
    display: none;

    content: '';
}

#map .label.trade .row
{
    z-index: 10;

    margin-left: 33px;
}

#map .label.trade .net
{
    min-width: 105px;
    padding: 0 15px;

    text-align: right;

    background-color: @white;
}

#map .label.trade .ball
{
    z-index: 10;

    width: 18px;
    height: 18px;
}

#map .label.trade.long .ball,
#map .label.trade.short .ball
{
    background-color: @white;
}

#map .label.trade .ball .icon
{
    font-size: 12px;
    line-height: 18px;
}

#map .label.trade.long .ball .icon
{
    color: @green;
}

#map .label.trade.short .ball .icon
{
    color: @red;
}

#map .label.trade.long .ball .icon:after
{
    font-size: 12px!important;
    line-height: 18px!important;
}

#map .label.trade.short .ball .icon:after
{
    font-size: 12px!important;
    line-height: 20px!important;
}

#map .percentage
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding-right: 105px;
    padding-left: 48px;
}

#map .label.trade.positive .percentage
{
    background-color: #4bd763;
    background-image: -webkit-linear-gradient(left, #4bd763, #b7efc1);
    background-image:         linear-gradient(to right, #4bd763, #b7efc1);
}

#map .label.negative .percentage
{
    background-color: #ff3b30;
    background-image: -webkit-linear-gradient(left, #ff3b30, #ffb1ac);
    background-image:         linear-gradient(to right, #ff3b30, #ffb1ac);
}

#map .label.cero .percentage
{
    background-color: @gray;
}

#map .bar-percentage
{
    float: right;

    width: 100%;
    height: 100%;

    background-color: @white;
}
